#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
}

body {
  display: flex;
}


header {
  border-bottom: 2px solid rgb(56, 56, 56);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(37, 37, 37);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 10px;
}

.nav-links li {
  width: 100px;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3em;
  text-shadow: 0 0 4px;
  width: 100%;
  margin: 20px;
}

h3 {
  margin-top: 0;
  font-size: 1em;
  width: 100%;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

hr {
  width: 90%;
  border: 1px solid rgb(65, 65, 65);
}

.articles-list {
  display: flex;
  flex-direction: column;
}

.article-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(34, 34, 34);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
}

.article-card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
}

.article-card-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

}

.article-card-info {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  align-items: center;
  justify-content: space-around;
}

.capitalize {
  text-transform: capitalize;
}

.italic-text {
    font-style: italic;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article-page-image {
  width: 100%;
  max-width: 900px;
}

.article-page-info {
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-size: 0.8em;
  justify-content: space-between;
  width: 100%;
}

.article-page-body {
  text-align: justify;
  font-size: 1.2em;
} 

.article-page-title {
  font-size: clamp(22px, 4vw, 48px);
}

.article-page {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.voting {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.small-text {
  font-size: x-small;
}

.true-delete {
  background-color: white;
}

.false-delete {
  background-color: grey;
}

.comments-section {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: rgb(44, 44, 44);
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 40px;
  max-width: 800px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);
}

.comments-list {
  display: flex;
  flex-direction: column;
}

.comment-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(56, 56, 56);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  color: white;
}

.comment-card-deleting {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  color:rgb(71, 71, 71);
}

.deleting-text {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 40px;
  background-color: rgba(99, 99, 99, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
}

.new-comment-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(65, 65, 65);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  margin: 20px auto;
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

textarea {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(247, 247, 247);
  margin: 0 20px 20px 20px;
}

.new-comment-author {
  margin: 0px;
  font-size: 1em;
}

.comment-author {
  margin: 0px;
  font-size: 1em;
}

.comment-body {
  font-size: 0.8em;
}

.new-comment-body {
  font-size: 1em;
}

.comment-delete-button {
  display: flex;
  position: absolute;
  top: 2%;
  right: 1%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(27, 27, 27);
  color: rgb(201, 201, 201);
  text-align: center;
  justify-content: center;
  align-items: center;
}

.comment-delete-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(173, 173, 173);
  cursor: pointer;
}

.new-comment-body-disabled {
  font-size: 1em;
  background-color: rgb(196, 196, 196);
}

.posting-comment {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: rgba(70, 70, 70, 0.3);
  width: 30%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  
}

.comment-votes-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}

.comment-votes {
  font-variant: small-caps;
  display: flex;
  align-items: center;
}

.new-comment-button {
  width: 20%;
  margin-left: auto;
  margin-right: 20px;
  color: white;
  background-color: rgb(48, 48, 48);
  border: 2px solid grey;
  min-width: 100px;
}

.vote-arrow {
  font-size: 2em;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-arrow:hover {
  cursor: pointer;
  text-shadow: 0 0 8px;
}

.article-vote {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  position: relative;
}

@media (min-width: 650px) {

  .articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .article-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid rgb(43, 43, 43);
    justify-content: start;
    margin: 10px;
    border-radius: 10px;
  }

  .article-card-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .article-card-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8em;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .article-card-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin: 0;
  }
  
  .vertical-flex {
    display: flex;
    height: 100%;
  }

  .article-card-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

  h3 {
    margin-top: 20px;
  }


header {
  border-bottom: 2px solid rgb(56, 56, 56);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(37, 37, 37);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  max-width: 300px;
  padding: 0;
}

}

@media (max-width: 220px) {

  h1 {
    font-size: 2em;
  }
  
}