#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}



body {
  display: flex;
}

header {
  border-bottom: 2px solid rgb(56, 56, 56);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(37, 37, 37);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

h1 {
  font-size: 3em;
  text-shadow: 0 0 4px;
  width: 100%;
}

h3 {
  margin-top: 0;
  font-size: 1em;
  width: 100%;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

hr {
  width: 90%;
  border: 1px solid rgb(65, 65, 65);
}

.articles-list {
  display: flex;
  flex-direction: column;
}

.article-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.article-card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px;
}

.article-card-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

}

.article-card-info {
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
  align-items: center;
  justify-content: space-around;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.article-page-image {
  width: 100%;
  max-width: 900px;
}

.article-page-info {
  display: flex;
  flex-direction: row;
  font-style: italic;
  font-size: 0.8em;
  justify-content: space-between;
  width: 100%;
}

.article-page-body {
  text-align: justify;
  font-size: 1.2em;
} 

.article-page-title {
  font-size: clamp(22px, 4vw, 48px);
}

.article-page {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-section {
  display: flex;
  flex-direction: column;
  text-align: start;
  background-color: rgb(70, 70, 70);
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-top: 40px;
  max-width: 800px;
}

.comments-list {
  display: flex;
  flex-direction: column;
}

.comment-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(56, 56, 56);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.comment-author {
  margin: 0px;
  font-size: 1em;
}

.comment-body {
  font-size: 0.8em;
}

.comment-votes-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: small;
}

.comment-votes {
  font-variant: small-caps;
}

@media (min-width: 650px) {

  .articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .article-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid rgb(43, 43, 43);
    justify-content: start;
    margin: 10px;
    border-radius: 10px;
  }

  .article-card-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .article-card-info {
    display: flex;
    flex-direction: row;
    font-size: 0.5em;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .article-card-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin: 0;
  }
  
  .vertical-flex {
    display: flex;
    height: 100%;
  }

  .article-card-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

  h3 {
    margin-top: 20px;
  }


header {
  border-bottom: 2px solid rgb(56, 56, 56);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(37, 37, 37);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  max-width: 300px;
}

}

@media (max-width: 220px) {

  h1 {
    font-size: 2em;
  }
  
}